{% extends "layout/app.html" %}

{# Título da página #}
{% block title %}{{ request.user.username }} | Cronograma - {% endblock %}

{# Conteúdo #}
{% block content-no-container %}
    <div class="row p-4 m-4">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2>Cronograma</h2>
                </div>
            </div>
            <div class="row pt-4 mt-4">
                <div class="col-12">
                    <div class="row">
                        {% for number_day, day in week.items %}
                            {% if number_day != 6 %}
                                <div class="col-6 col-md-4 col-lg-2 border-left{% if number_day == 5 %} border-right{% endif %}{% if today.weekday > number_day %} text-muted{% endif %} border-secondary">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h4>{{ day.name }}</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <div class="dropdown">
                                                        <button class="btn btn-link dropdown-toggle" type="button"
                                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true"
                                                                aria-expanded="false">
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="#">Editar</a>
                                                            <a class="dropdown-item" href="#">Repetir</a>
                                                            <a class="dropdown-item" href="#">Limpar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            {% for trip in day.trips %}
                                                <hr>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <strong>{{ trip.hour }}</strong>
                                                    </div>
                                                    <div class="col-12 mt-2">
                                                        <small>Origem:</small>
                                                        <small>{{ trip.origin }}</small>
                                                    </div>
                                                    <div class="col-12">
                                                        <small>Destino:</small>
                                                        <small>{{ trip.destiny }}</small>
                                                    </div>
                                                    <div class="col-12 mt-2">
                                                        <span>{{ trip.get_default_price_formated }}</span>
                                                        <i class="fas fa-info-circle" data-toggle="tooltip"
                                                           title="Esse não é o valor da sua carona, mas vamos procurar uma nessa faixa de preço."></i>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
